# ^ backend

# development
__pycache__/

# dependencies
**/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
dist
dist-ssr

# compiled output
dist/
# dtos/
# production
/build

# misc
.DS_Store
*.pem

# Logs
logs
*.log

# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# testing
/coverage

# Tests
/coverage
/.nyc_output

# local env files
*.local
*env*

# vercel
.vercel

# typescript
*.tsbuildinfo

# IDE - VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Editor directories and files
/.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# ^ СВОЁ
# п.врем./не нужных ф./доп.код
vr/
.env

# помошники
GitHub Команды.txt
**/infoMy.txt
webpack*

# ^ общ.врем.ОТКЛ.
**/static/**

# ^ общ.врем.ИСКЛЮЧЁННЫЕ
# папки 
!/**/src/common/decorators/
# все.ф.в п. 
# !/**/src/common/decorators/**
# ф.
!/**/src/config/database/db_localhost.config.ts